@import "./reset/basic-reset";

$grey:white;

body{
    background: $grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 110vh;
}

img{
    margin-bottom: 4rem;
}

h1, p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    margin-bottom: 1.5rem;
}